@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

.cormorant-upright-light {
    font-family: "Cormorant Upright", serif;
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    scroll-behavior: smooth;
}

.head-clip {
    position: absolute;
    left: 42%;
    bottom: 28%;
    width: 56%;
    height: 70%;
    overflow: hidden;
    /* border: 1px solid red; */
}

.head0 {
    position: absolute;
    right: 2%;
    top: 1%;
    /* width: 200%; */
    height: 120%;
}

h2 {
    font-family: 'Cormorant Upright';
    font-weight: 400;
    font-style: normal;
    font-size: 158%;
    font-size: 3.2cqh;
    line-height: 0.6cqh;
}

h3 {
    font-family: 'Cormorant Upright';
    font-weight: 400;
    font-style: normal;
    font-size: 2.2cqh;
}

.title {
    position: relative;
    width: 100%;
    text-align: center;
    height: 28%;
    top: 72%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* border: 1px solid red; */
}

h1 { 
    box-shadow: inset 1000px 0 0 black;
    /* transition: box-shadow 2s ease-in-out; */
    font-family: 'Cormorant Upright';
    font-weight: 300;
    font-style: normal;
    font-size: 2.5cqh;
    color: black;
    transition: font-weight 3s, transform 1s, box-shadow 1s ease-in-out;
}  

h1:hover {
    cursor:pointer;
}

  .page {
    background-color: rgb(255, 255, 243);
    position: relative;
    /* transition-duration: 1s; */
    /* display: inline-block; */
    overflow: hidden;
    max-height: 100%;
    /* border: 1px solid red; */
    transition-duration: 600ms;
}

.sidepage {
    opacity: 0.8;
    transform: scale(1);
}

.sidepage:hover {
    opacity: 1;
    transform: scale(1.1);
}

.page1 {
    height: none;
    /* aspect-ratio: 3/4; */
    width: 22.22vw;
    height: 29.64vw;
    flex: 2;
    margin: 5vh;
    /* opacity: 0.8; */
    cursor: pointer;
    order: 0;
    container-type: size;
}

.page2 {
    height: 100vh;
    width: 100vh;
    /* aspect-ratio: 1/1; */
    flex: 5;
    margin: 0vh;
    /* opacity: 1; */
    cursor: default;
    order: 1;
    container-type: size;
}

.page3 {
    height: none;
    /* aspect-ratio: 3/4; */
    width: 22.22vw;
    height: 29.64vw;
    flex: 2;
    margin: 5vh;
    /* opacity: 0.8; */
    cursor: pointer;
    order: 2;
    container-type: size;
}



.small-head {
    position: absolute;
    transform: scaleX(-1);
}

.small-head:hover {
    cursor: pointer;
}

.head2 {
    position: absolute;
    top: -4cqh;
    right: 3%;
    height: 12cqh;
    animation-delay: 750ms;
}

.head3 {
    position: absolute;
    top: -1cqh;
    right: 14%;
    height: 12cqh;
    animation-delay: 500ms;
}

.head4 {
    position: absolute;
    top: 1cqh;
    right: 25%;
    height: 12cqh;
    animation-delay: 250ms;
}

.head5 {
    position: absolute;
    top: 3cqh;
    right: 36%;
    height: 12cqh;
}

.track1 {
    position: absolute;
    top: 16cqh;
    left: 5%;
}

.track2 {
    position: absolute;
    top: 24cqh;
    left: 35%;
}

.track3 {
    position: absolute;
    top: 32cqh;
    left: 18%;
}

.track4 {
    position: absolute;
    top: 40cqh;
    left: 37%;
}

.track5 {
    position: absolute;
    top: 48cqh;
    left: 48%;
}

.track6 {
    position: absolute;
    top: 56cqh;
    left: 39%;
}

.track7 {
    position: absolute;
    top: 64cqh;
    left: 58%;
}

.track8 {
    position: absolute;
    top: 72cqh;
    left: 67%;
}

.track9 {
    position: absolute;
    top: 80cqh;
    left: 72%;
}

a {
    font-size: 1.5cqh;
}

.bounce-head0 {
    animation: bounce2 3s infinite ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.bounce-head1 {
    animation: bounce2 3s infinite ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.bounce-head2 {
    animation: bounce2 3s infinite ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.bounce-head3 {
    animation: bounce2 2s infinite ease-in-out;
    animation-fill-mode: forwards;
}

.bounce-text {
    animation: bounce 3s infinite ease-in-out; /* Apply the 'bounce' animation, 1s duration, repeat infinitely */
    font-weight: 800;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotateZ(-0.5deg); /* Start and end at original vertical position */
  }
  50% {
    transform: translateY(-2px) rotateZ(0.5deg); /* Move up 15 pixels at the midpoint */
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: scaleX(-1) translateY(0) rotateZ(0deg); /* Start and end at original vertical position */
  }
  50% {
    transform: scaleX(-1) translateY(-4px) rotateZ(5deg); /* Move up 15 pixels at the midpoint */
  }
}

.speech-bubble {
    background: linear-gradient(270deg, rgba(0,0,0,1), rgba(0,0,0,0.2));
    position: absolute;
    right: 55%;
    top: 3vh;
    opacity: 0;
    font-size: 2vh;
    /* margin: .5em auto; */
    padding: 0.7em;
    width: 8em; height: 4.3em;
    border-radius: .25em;
    transform: rotate(-5deg) rotateY(1deg);
    /* background: #000; */
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 255, 243);
    text-align: center;
    line-height: 1.1em;
}
.speech-bubble:before, .speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}

.speech-bubble:before {
	position: absolute;
	right: 0;
	top: 60%;
	width: 0;
	height: 0;
    transform: scale(2, 1.2);
	border: 20px solid transparent;
	border-left-color: #000;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

pre, p{
    font-family: "Cormorant";
    font-weight: 400;
    /* transition-duration: 0s; */
}

pre {
    /* left: 1px; */
    position: relative;
    top: 2%;
    left: 0%;
    height: 100%;
    /* font-size: 2.3cqh; */
}

p{
    /* padding: 5%; */
    /* padding-top: 0; */
    bottom: 25%;
    right: 5%;
    position: relative;
    text-align: right;
    font-size: 1.7cqh;
}


@media (max-aspect-ratio: 4/3) {
    html, body {
        height: 100%;
        overflow-y: scroll; /* Force vertical scrollbar */
        scroll-snap-type: y mandatory;
        margin: 0;
        padding: 0;
        position: relative; /* Break the absolute positioning from your main CSS */
    }

    body {
        display: block;
    }

    .page1, .page2, .page3{
        width: 100vw;
        height: 100vh;
        margin: 0;
        margin-bottom: 5vh;
        padding-bottom: 2vh;
        flex: none;
        scroll-snap-align: center;
        transition-duration: 0s;
        opacity: 1;
    }

    .sidepage{
        opacity: 1;
        cursor: default;
    }

    .sidepage:hover{
        transform: none;
    }

    .head1 {
    position: absolute;
    left: -15%;
    bottom: -15%;
    height: 55%;
    
    /* height: 10%; */
}
}

@media (min-aspect-ratio: 4/3) {
    .sidepage{
        opacity: 0.8;
        cursor: pointer;
    }

    .sidepage:hover{
        transform: scale(1.1);
        opacity: 1;
    }

    .head1 {
    position: absolute;
    left: -15%;
    bottom: -15%;
    height: 55%;
    
    /* height: 10%; */
}
}

@media (max-aspect-ratio: 0.57) {

    .head1 {
    position: absolute;
    left: -50%;
    bottom: -15%;
    height: 55%;
    
    /* height: 10%; */
}

    h1 {
        font-size: 4vw;
    }
}
